.home {
  width: 100%;
  display: flex;
}

.home__left {
  width: 20%;
  height: 600px;
  border: 1px solid black;
  background: lightslategrey;
}

.home__right {
  width: 80%;
  height: 600px;
  border: 1px solid black;
}
