.navigationList {
  width: 100%;
}

.navigationList__title {
  display: flex;
  width: 100%;
  color: white;
  padding-top: 5px;
}

.navigationList__title span {
  margin-left: 5px;
  font-weight: bold;
  font-size: 15px;
}

.navigationList ul {
  list-style-type: none;
  padding: 0%;
}

.navigationList ul li {
  display: flex;
  height: 40px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.navigationList ul li:hover {
  background-color: white;
  color: black;
}

.icon {
  height: 20px !important;
  /* width: 20px !important; */
  margin-right: 20px;
}
